<%- include("../common/header") %>

<div class="col-xs-12 col-sm-12 col-md-10 ">
  <div class="content-box-large ">
    <div class="panel-title ">プロジェクトの作成</div>
    <div class="row " id="app ">
      <div class="col-xl-12 ">
        <form method="POST" action="/project/create" class="form-group">
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>プロジェクト名</p>
              <p>
                <input type="text" class="form-control" name="project_name" value="<%- old("project_name", "") %>">
              </p>


              <% if (errors("project_name").length > 0) {%>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("project_name") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <!-- 画像ファイルのアップロード -->
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>添付ファイルを付与</p>
              <p><input type="file" class="form-control" name="upload_file" id="upload_file"></p>

              <% if (errors("image_id").length > 0) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.upload_file" class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("image_id") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <!-- アップロード済み画像をpushしていく-->
          <div id="uploaded-file-block" class="row">
            <% if (old("image_id").length > 0) {%>
            <% old("image_id").forEach((image, index) => { %>
            <div class="uploaded-file-block-unit col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <p><a href="/api/image/show/<%- image %>" target="_blank" class="btn btn-outline-primary uploaded-file-url">アップロード済み画像</a></p>
              <input type="hidden" name="image_id[]" value="<%- image %>">
            </div>
            <% }) %>
            <% } else { %>
            <div class="uploaded-file-block-unit col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <p><a href="" target="_blank" class="btn btn-outline-primary uploaded-file-url">アップロード済み画像</a></p>
              <input type="hidden" name="image_id[]" value="">
            </div>
            <% } %>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>責任者ID</p>
              <p>
                <select class="form-control form-select" name="user_id" id="user_id">
                  <% users.forEach((user, index) => { %>
                  <option <% if (Number(user.id) === old("user_id")) { %> selected="selected" <% } %> value="<%- user.id %>"><%- user.user_name %></option>
                  <% }) %>
                </select>
              </p>

              <% if (errors("user_id").length > 0) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.delivery " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("user_id") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>表示状態の指定</p>
              <p>
                <%- old("status") %>
                <select class="form-control form-select" name="status">
                  <% applicationConfig.displayStatusList.forEach((status, index) => { %>
                  <option <% if (Number(status.id) === old("status")) { %> selected="selected" <% } %> value="<%- status.id %>"><%- status.value %></option>
                  <% }) %>
                </select>
              </p>

              <% if (errors("status").length > 0) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.is_displayed " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("status") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
              <p>プロジェクト詳細</p>
              <p>
                <textarea class="form-control" id="project_description" placeholder="注意事項がある場合は入力のこと" name="project_description" cols="50 " rows="10 "><%- old("project_description", "") %></textarea>
              </p>

              <% if (errors("project_description").length > 0) {%>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("project_description") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
              <p>上記内容でタスクを作成する</p>
              <p>
                <button class="btn btn-outline-primary" type="submit">上記内容でタスクを作成する</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(e) {

    let uploadInput = $("input[name='upload_file']");
    let uploadedFileUrlList = [];
    let uploadedFileIDList = [];
    let uploadedFileObjectList = [];
    // 画像選択時のイベントを付与
    uploadInput.on("change", function(e) {
      let targetObject = e.target;
      let fileList = targetObject.files;

      // filesオブジェクトをループ
      Object.keys(fileList).forEach((index) => {

        // ファイル用フォームオブジェクト
        let formData = new FormData();
        formData.append("upload_file", fileList[index])

        // 画像ファイルをPOSTする
        axios.post("/api/image/upload", formData).then((result) => {
          if (result.data.status) {
            uploadedFileObjectList.push(result.data.response.image);
          } else {
            return Promise.reject(new Error("画像アップロードに失敗しました｡"));
          }
        }).then((response) => {
          let divBlock = [];
          let div = $(".uploaded-file-block-unit").eq(0).clone();
          uploadedFileObjectList.forEach((image, index) => {
            let clone = div.clone();
            clone.find("a").attr("href", image.show_image_url);
            clone.find("input").val(image.id);
            divBlock.push(clone);
          });
          $("#uploaded-file-block").empty();
          console.log(divBlock);

          divBlock.forEach(function(div, index) {
            console.log(div);
            $("#uploaded-file-block").append(div);
          });
        }).catch((error) => {
          console.log(error);
          alert(error.message);
        });

      });
    });

  });
</script>
<%- include("../common/footer") %>