<%- include("../common/header") %>

<div class="col-xs-12 col-sm-12 col-md-10 ">
  <div class="content-box-large ">
    <div class="panel-title ">現在のプロジェクト名</div>
    <div class="row " id="app ">
      <div class="col-xl-12 ">
        <form method="POST" action="/project/detail/<%- project.id %>" class="form-group">
          <div class="row ">
            <div class="col-sm-3 col-md-3 col-lg-6 col-xl-3">
              <p><label class="control-label ">プロジェクトID</label></p>
              <p>
                <input class="form-control" type="text" disabled="disabled" value="<%- project.id %>">
                <input type="hidden" name="project_id" value="<%- project.id %>">
                <input type="hidden" name="by_user_id" value="<%= project.by_user_id %>">
              </p>

              <% if (sessionErrors.project_id) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.nasse_shop_id " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.project_id %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-6 col-xl-3">
              <p>
                <label class="control-label ">プロジェクトコード</label><br>
              </p>
              <p>
                <input class="form-control" type="text" disabled="disabled" value="<%- project.code_number %>">
                <input type="hidden" name="project_id" value="<%- project.code_number %>"><br>
                <small>※外部公開時に使用されます｡</small>
              </p>

              <% if (sessionErrors.code_number) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.nasse_shop_id " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.code_number %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>プロジェクト名</p>
              <p>
                <input type="text" class="form-control" name="project_name" value="<%- old("project_name", project.project_name) %>">
              </p>

              <% if (sessionErrors.project_name) { %>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.delivery " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.project_name %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>開始日時</p>
              <p>
                <input value="<%= old("start_time", project.start_time) %>" type="text" id="start_time" name="start_time" class="flat-picker form-control">
              </p>

              <% if (errors("start_time").length > 0) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.delivery " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("start_time") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>終了日時</p>
              <p>
                <input value="<%= old("end_time", project.end_time) %>" type="text" id="end_time" name="end_time" class="flat-picker form-control">
              </p>

              <% if (errors("end_time").length > 0) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.is_displayed " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("end_time") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <!-- 画像ファイルのアップロード -->
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>添付ファイルを付与</p>
              <p><input type="file" class="form-control" name="upload_file" id="upload_file"></p>

              <% if (errors("image_id").length > 0) {%>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.upload_file" class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- errors("image_id") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <!-- アップロード済み画像をpushしていく-->
          <div id="uploaded-file-block" class="row">
            <% if (project.ProjectImages.length > 0) {%>
            <% project.ProjectImages.forEach((projectImage, index) => { %>
            <div class="uploaded-file-block-unit col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <p><a href="/api/image/show/<%- projectImage.Image.id %>" target="_blank" class="btn btn-outline-primary uploaded-file-url">アップロード済み画像</a></p>
              <input type="hidden" name="image_id[]" value="<%- projectImage.Image.id %>">
            </div>
            <% }) %>
            <% } else { %>
            <div class="uploaded-file-block-unit col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <p><a href="" target="_blank" class="btn btn-outline-primary uploaded-file-url">アップロード済み画像</a></p>
              <input type="hidden" name="image_id[]" value="">
            </div>
            <% } %>
          </div>


          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>責任者ID</p>
              <p>
                <select class="form-control form-select" name="user_id" id="user_id">
                  <% users.forEach((user, index) => { %>
                  <option <% if(project.user_id === user.id) { %> selected="selected" <% } %> value="<%- user.id %>"><%- user.user_name %></option>
                  <% }) %>
                </select>
              </p>

              <% if (errors("user_id").length > 0) { %>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%= errors("user_id") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>

            </div>

            <!-- 現在閲覧中のプロジェクトに登録されているタスク一覧を表示 -->
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>登録中タスク一覧</p>
              <p>
                <select class="form-control form-select">
                  <% project.tasks.forEach((task, index) => { %>
                  <option value="<%- project.id %>">
                    [<%- task.id %>]<%- task.task_name %>
                    <% if (task.user !== null) { %>
                    ([<%- task.user.id %>]<%- task.user.user_name %>)
                    <% } %>
                  </option>
                  <% }) %>
                </select>
              </p>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>表示状態の変更</p>
              <p>
                <select class="form-control form-select" name="is_displayed" id="is_displayed">
                  <% displayStatusList.forEach((displayStatus, index) => { %>
                  <option <% if(project.is_displayed === displayStatus.id) { %> selected="selected" <% } %> value="<%- displayStatus.id %>">
                    <%- displayStatus.value %>
                  </option>
                  <% }) %>
                </select>
              </p>

              <% if (errors("is_displayed").length > 0) { %>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%= errors("is_displayed") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p>タスク詳細</p>
              <p>
                <textarea class="form-control" id="project_description" placeholder="注意事項がある場合は入力のこと" name="project_description" cols="50" rows="10 "><%- old("project_description", project.project_description) %></textarea>
              </p>

              <% if (errors("project_description").length > 0) { %>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%= errors("project_description") %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>

            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
              <p>上記内容で店舗更新をする</p>
              <p>
                <button class="btn btn-outline-primary " type="button " v-on:click="checkShop ">タスク内容を更新する</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(e) {

    // // simpleMED
    // let simplemde = new SimpleMDE({
    //   element: document.getElementById("project_description"),
    // });

    let uploadInput = $("input[name='upload_file']");
    let uploadedFileUrlList = [];
    let uploadedFileIDList = [];
    let uploadedFileObjectList = [];
    // 画像選択時のイベントを付与
    console.log(uploadInput);
    console.log(uploadInput[0]);
    uploadInput[0].addEventListener("change", function(e) {
      console.log("raw e===>", e);
      console.log("raw this ====> ", $(this));
      console.log(e.target === this);
    });
    uploadInput.on("change", function(e) {
      console.log(this);
      console.log(e.currentTarget);
      let targetObject = e.target;
      let fileList = targetObject.files;

      // filesオブジェクトをループ
      Object.keys(fileList).forEach((index) => {

        // ファイル用フォームオブジェクト
        let formData = new FormData();
        formData.append("upload_file", fileList[index])

        // 画像ファイルをPOSTする
        axios.post("/api/image/upload", formData).then((result) => {
          if (result.data.status) {
            uploadedFileObjectList.push(result.data.response.image);
          } else {
            return Promise.reject(new Error("画像アップロードに失敗しました｡"));
          }
        }).then((response) => {
          let divBlock = [];
          let div = $(".uploaded-file-block-unit").eq(0).clone();
          uploadedFileObjectList.forEach((image, index) => {
            let clone = div.clone();
            clone.find("a").attr("href", image.show_image_url);
            clone.find("input").val(image.id);
            divBlock.push(clone);
          });
          $("#uploaded-file-block").empty();
          console.log(divBlock);

          divBlock.forEach(function(div, index) {
            console.log(div);
            $("#uploaded-file-block").append(div);
          });
        }).catch((error) => {
          console.log(error);
          alert(error.message);
        });

      });
    });

  });
</script>
<%- include("../common/footer") %>
