<%- include("../common/header") %>

<div class="col-xs-12 col-sm-12 col-md-10 ">
  <div class="content-box-large ">
    <div class="panel-title ">登録中タスク内容</div>
    <div class="row " id="app ">
      <div class="col-xl-12 ">
        <form method="POST" action="/todo/create" class="form-group">
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>タスク名</p>
              <p><input type="text" class="form-control" name="task_name" value=""></p>

              <% if (sessionErrors.task_name) { %>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.task_name %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <!-- 画像ファイルのアップロード -->
          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>添付ファイルを付与</p>
              <p><input type="file" class="form-control form-select" name="upload_file" id="upload_file"></p>

              <% if (sessionErrors.image_id) { %>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.upload_file" class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.image_id %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <!-- アップロード済み画像をpushしていく-->
          <div id="uploaded-file-block" class="row">
            <div class="uploaded-file-block-unit col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <p><a href="" target="_blank" class="btn btn-outline-primary uploaded-file-url" >アップロード済み画像</a></p>
              <input type="hidden" name="image_id[]" value="">
            </div>
          </div>


          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>作業者ID</p>
              <p>
                <select class="form-control form-select" name="user_id" id="user_id">
                  <% users.forEach((user, index) => { %>
                  <option value="<%- user.id %>"><%- user.user_name %></option>
                  <% }) %>
                </select>
              </p>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.delivery" class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger"></p>
              </div>
              <!-- エラーメッセージ -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>タスクステータス</p>
              <p>
                <select class="form-control form-select " name="status">
                  <% taskStatusList.forEach((status, index) => { %>
                    <option  value="<%- status.id%>">
                      <%- status.value %>
                    </option>
                  <% }) %>
                </select>
              </p>
              <% if (sessionErrors.status) {%>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.status %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>紐づくプロジェクト</p>
              <p>
                <select class="form-control form-select" name="project_id">
                  <% projects.forEach((project, index) => { %>
                    <option value="<%- project.id %>">
                      <%- project.project_name %>　(<%- project.tasks.length %>件)
                    </option>
                  <% }) %>
                </select>
              </p>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.is_displayed" class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger"></p>
              </div>
              <!-- エラーメッセージ -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>表示状態の指定</p>
              <p>
                <select class="admin-shop-edit form-control form-select " v-model="shop.is_displayed ">
                  <option v-for="data in display_status " v-bind:value="data.id ">{{data.value}}</option>
                </select>
              </p>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.is_displayed " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger ">{{data}}</p>
              </div>
              <!-- エラーメッセージ -->
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <p>優先度の設定</p>
              <p>
                <select class="form-control form-select" name="priority">
                  <% priorityStatus.forEach((data, index) => { %>
                    <option value="<%- data.id %>">
                      <%- data.value %>
                    </option>
                  <% }) %>
                </select>
              </p>

              <% if (sessionErrors.priority) { %>
              <!-- エラーメッセージ -->
              <div v-for="data in errors.is_displayed " class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.priority %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p>タスク詳細</p>
              <p>
                <textarea class="form-control" id="task_description" placeholder="注意事項がある場合は入力のこと" name="task_description" cols="50 " rows="10 "></textarea>
              </p>

              <% if (sessionErrors.task_description) { %>
              <!-- エラーメッセージ -->
              <div class="col-md-12 col-lg-12 col-xl-12 ">
                <p class="alert alert-danger "><%- sessionErrors.task_description %></p>
              </div>
              <!-- エラーメッセージ -->
              <% } %>
            </div>
          </div>

          <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
              <p>上記内容でタスクを作成する</p>
              <p>
                <button class="btn btn-outline-primary" type="submit" >上記内容でタスクを作成する</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(function (e) {

    let uploadInput = $("input[name='upload_file']");
    let uploadedFileUrlList = [];
    let uploadedFileIDList = [];
    let uploadedFileObjectList = [];
    // 画像選択時のイベントを付与
    uploadInput.on("change", function (e) {
      let targetObject = e.target;
      let fileList = targetObject.files;

      // filesオブジェクトをループ
      Object.keys(fileList).forEach((index) => {

        // ファイル用フォームオブジェクト
        let formData = new FormData();
        formData.append("upload_file", fileList[index])

        // 画像ファイルをPOSTする
        axios.post("/api/image/upload", formData).then((result) => {
          if (result.data.status) {
            uploadedFileObjectList.push(result.data.response.image);
          } else {
            return Promise.reject(new Error("画像アップロードに失敗しました｡"));
          }
        }).then((response) => {
          let divBlock = [];
          let div = $(".uploaded-file-block-unit").eq(0).clone();
          uploadedFileObjectList.forEach((image, index) => {
            let clone = div.clone();
            clone.find("a").attr("href", image.show_image_url);
            clone.find("input").val(image.id);
            divBlock.push(clone);
          });
          $("#uploaded-file-block").empty();
          console.log(divBlock);

          divBlock.forEach(function (div, index) {
            console.log(div);
            $("#uploaded-file-block").append(div);
          });
        }).catch((error) => {
          console.log(error);
          alert(error.message);
        });

      });
    });

  });
</script>
<%- include("../common/footer") %>