<form action="<%- actionUrl -%>" method="POST">

  <p>プロジェクトを選択</p>
  <select name="project_id">
    <% projects.forEach((project, index) => { %>
      <option value="<%- project.id %>">
        <%- project.project_name %>
      </option>
    <% }) %>
  </select>

  <p>新規タスク名を登録</p>
  <input type="text" name="task_name">

  <p>新規タスクの内容を登録</p>
  <textarea name="task_description"></textarea>

  <p>担当者</p>
  <select name="user_id">
    <% users.forEach((user, index) => { %>
      <option value="<%- user.id %>">
        (<%- user.id %>/<%- user.section_type %>)<%- user.user_name %><br>
        担当中タスク(<%- user.tasks.length %>件)
      </option>
    <% }) %>
  </select>

  <p>タスク進捗度</p>
  <select name="status">
    <% taskStatusList.forEach((status, index) => { %>
      <option value="<%- status.id %>"><%- status.value %></option>
    <% }); %>
  </select>


  <p><input type="submit" value="送信"></p>
</form>

<p>現在登録中のタスク一覧</p>
<% tasks.forEach((task, index) => { %>
  <p><%- task.task_name %></p>
  <p><%- task.task_description %></p>
<% }); %>