<%- include("../common/header") %>

<div class="col-xs-12 col-sm-12 col-md-10 ">
  <div class="content-box-large">

    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <p><label class="control-label ">タスクID</label></p>
        <p><input class="form-control" type="text" disabled="disabled" value="<%= task.id %>"></p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <p><label class="control-label ">タスクコード</label></p>
        <p><input class="form-control" type="text" disabled="disabled" value="<%= task.code_number %>"></p>
      </div>
      <!-- 作成日時及び更新日時-->
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <p>作成日時</p>
        <p><input type="text" disabled="disabled" class="form-control" value="<%= task.formattedCreatedAt() %>"></p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <p>更新日時</p>
        <p><input type="text" disabled="disabled" class="form-control" value="<%= task.formattedUpdatedAt() %>"></p>
      </div>
    </div>


    <div class="row ">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <p>タスク名</p>
        <p><%= task.task_name %></p>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
        <p>作業者IDおよび作業者名</p>
        <p>(<%= task.user_id %>) <%= task.user.user_name %></p>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
        <p>タスクステータス</p>
        <p><%= taskStatusNameList[task.status] %></p>
      </div>
    </div>

    <div class="row ">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
        <p>紐づくプロジェクト</p>
        <p><%= task.Project.project_name %></p>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 ">
        <p>優先度の設定</p>
        <p><%= priorityStatusNameList[task.priority] %></p>
      </div>
    </div>

    <div class="row ">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
        <p>タスク詳細</p>
        <p><%= task.task_description %></p>
      </div>
    </div>
  </div>

  <div class="content-box-large">
    <div class="row">
      <form method="POST" action="/todo/comment/<%= task.id %>" accept-charset="UTF-8" class="form-group">
        <input type="hidden" name="task_id" value="<%= task.id %>">
        <!-- ログイン中ユーザのID -->
        <input type="hidden" name="user_id" value="<%= user.id %>">
        <div class="row ">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p>添付ファイルを付与</p>
            <p><input type="file" class="form-control" name="upload_file" id="upload_file"></p>
          </div>
        </div>

        <!-- アップロード済み画像をpushしていく-->
        <div id="uploaded-file-block" class="row">
          <div class="uploaded-file-block-unit col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <p><a href="" target="_blank" class="btn btn-outline-primary uploaded-file-url">アップロード済み画像</a></p>
            <input type="hidden" name="image_id[]" value="">
          </div>
        </div>

        <div class="row ">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p>コメント内容</p>
            <p>
              <textarea class="form-control" id="task_description" placeholder="注意事項がある場合は入力のこと" name="comment" cols="50 " rows="10 "></textarea>
            </p>
          </div>
          <% if (sessionErrors.comment) { %>
          <!-- エラーメッセージ -->
          <div class="col-md-12 col-lg-12 col-xl-12 ">
            <p class="alert alert-danger "><%= sessionErrors.comment %></p>
          </div>
          <!-- エラーメッセージ -->
          <% } %>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <p>上記内容で店舗更新をする</p>
            <p><button class="btn btn-outline-primary" type="submit">コメントする</button></p>
          </div>
        </div>
      </form>
    </div>

    <!-- 投稿されたコメント群 -->
    <div class="row">
      <% task.TaskComments.forEach((taskComment, index) => { %>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <p>コメントID:<%= taskComment.id %></p>
        <p><%= taskComment.user.user_name %></p>
        <p>
          <%= taskComment.formattedCreatedAt() %><br>
          <%= taskComment.formattedUpdatedAt() %>
        </p>
      </div>
      <div class="col-md-9 col-lg-9 col-xl-9">
        <p><%= taskComment.getNewLineComment() %></p>
      </div>
      <div class="row mb-3">
        <% taskComment.CommentImages.forEach((image, index) => { %>
        <div class="col-md-3 col-lg-3 col-xl-3">
          <img class="mb-3 img-fluid img-thumbnail" src="<%= image.Image.getShowImageUrl() %>">
        </div>
        <% }); %>
      </div>
      <hr>
      <% }) %>
    </div>
  </div>
</div>

<script>
  $(function(e) {

    let uploadInput = $("input[name='upload_file']");
    let uploadedFileUrlList = [];
    let uploadedFileIDList = [];
    let uploadedFileObjectList = [];
    // 画像選択時のイベントを付与
    uploadInput.on("change", function(e) {
      let targetObject = e.target;
      let fileList = targetObject.files;

      // filesオブジェクトをループ
      Object.keys(fileList).forEach((index) => {

        // ファイル用フォームオブジェクト
        let formData = new FormData();
        formData.append("upload_file", fileList[index])

        // 画像ファイルをPOSTする
        axios.post("/api/image/upload", formData).then((result) => {
          if (result.data.status) {
            uploadedFileObjectList.push(result.data.response.image);
          } else {
            return Promise.reject(new Error("画像アップロードに失敗しました｡"));
          }
        }).then((response) => {
          let divBlock = [];
          let div = $(".uploaded-file-block-unit").eq(0).clone();
          uploadedFileObjectList.forEach((image, index) => {
            let clone = div.clone();
            clone.find("a").attr("href", image.show_image_url);
            clone.find("input").val(image.id);
            divBlock.push(clone);
          });
          $("#uploaded-file-block").empty();
          console.log(divBlock);

          divBlock.forEach(function(div, index) {
            console.log(div);
            $("#uploaded-file-block").append(div);
          });
        }).catch((error) => {
          console.log(error);
          alert(error.message);
        });

      });
    });

  });
</script>
<%- include("../common/footer") %>