<%- include("../common/header") %>

  <div class="col-md-10" id="app">
    <div class="content-box-large">
      <div class="panel-heading">
        <div class="row mb-5">
          <div class="panel-title">現在登録中プロジェクトの一覧</div>
        </div>
      </div>
      <div class="panel-heading">
        <div class="row">
          <div class="col-6 mb-5">
            <p>検索キーワード</p>
            <input type="text" class="form-control" v-model="keyword">
          </div>
          <div class="col-6 mb-5">
            <p>検索キーワード</p>
            <input class="btn btn-primary" type="button" v-on:click="moveToThePage(0)" value="プロジェクトの検索">
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table cellpadding="0" cellspacing="0" class="table table-bordered" id="example">
          <thead>
            <tr>
              <th>ID</th>
              <th>タスク名</th>
              <th>プロジェクト名</th>
              <th>担当者</th>
              <th>作業ステータス</th>
              <th>スター数</th>
              <th>作成日<br>更新日</th>
            </tr>
          </thead>
          <tbody>
            <% tasks.forEach((data, index) =>  { %>
            <tr>
              <td><%- data.id %></td>
              <td>
                <a href="/todo/detail/<%- data.id %>">
                  <%- data.task_name %>
                </a>
              </td>
              <td>
                <% if (data.Project) { %>
                  <a href="/project/detail/<%- data.Project.id %>">
                    (<%- data.project_id %>)<%- data.Project.project_name %>
                  </a>
                <% } %>
              </td>
              <td>
                <%- data.user_id %>
                <% if (data.user) { %>
                (<%- data.user.id %>)<%- data.user.user_name %>
                <% } else { %>
                  ー
                <% } %>
              </td>
              <td><%- taskStatusNameList[data.status] %></td>
              <td>
                <%- data.Stars.length %>個
                <form action="<%- actionUrlToStar %>" method="POST">
                  <input type="hidden" name="task_id" value="<%- data.id %>">
                  <input class="btn btn-outline-primary" type="submit" value="スター★">
                </form>
              </td>
              <td>
                <%- data.formatted_created_at() %><br>
                <%- data.formatted_updated_at() %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<%- include("../common/footer") %>